* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 20px;
    background-image: url("https://cdn.pixabay.com/photo/2018/10/01/10/37/wellness-3715862_640.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: rgb(6, 160, 183);
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #a7defa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
footer {
    color: turquoise;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}


nav ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;
}

a:link {
    color: #94c7f0;
}

a:visited {
    color: #10c7c7;
}

a:focus {
    color: #FF0000;
}

a:hover {
    color: #75f5f2;
}

a:active {
    color: #FF0000;
}

h1 {
    font-family: arial;
    color: white;
}